.footer{
    display: grid;
    grid-auto-flow: column;
    margin-top: 15%;
}

#info{
    display: flex;
    justify-content: space-around;
}

#contato{
    margin-right: -40%;
}

.footer a{
    margin-right: 5%;
}
